.main-box{
  border: 1px solid grey;
} 

.work-aagu-da{
  padding: 30px;
  position: relative;
  border: 1px solid black;
}

.off{
  position: absolute;
  top: 0px;
  left: 15px;
  border: 1px solid orange;
  border-radius: 20%;
  color: orange;
}

.image-box > h2, h4, button{
  font-size: xx-large;
}

