<html>
    <head>

    </head>
    <body>
        <h2>TODO LIST</h2>

        <form method="post" action="/todo">
            <input type="text" name="item_name">

            <input type="submit" value ="SUBMIT">
        </form>
       
        <table border="1">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(items|length) %}
                <tr>
                    <td>{{items[i]}}</td>
                    <td> <a href="/delete/{{items[i]}}">Delete</a> </td>
                    <td> <a href="/update/{{i}}">Update</a> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 

        <!-- <ol>
            {% for i in items %}
                <li> {{i}} </li> <a href="/delete/{{i}}">DELETE</a>
            {% endfor %}
        </ol> -->

    </body>
</html>