/* h2{background-color: #005d8b;;
    color: white;
   padding : 15px 0px;}
.prsnldtl{text-align: center;
          background-color: cornflowerblue;}
  address{padding: 0px 0px 20px 0px;}        
.qualify{background-color :hsla(208.3, 66.1%, 35.9%, 0.89);
         overflow: hidden;
         padding :0px 0px 0px 5px;}
table{border-collapse: collapse;
      text-align: center;} */

#btn{display: inline;}