#lftdiv{background-color: black;
        display: inline-block;
        color: white;}
h5,h6{display: inline;}
#rghtdiv{display: inline-block;
         width : 900px;
         vertical-align: top;}
#header{color: white;}